@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --text-primary: 38 38 38;
  }

  :root[class~="dark"] {
    --background: 38 38 38;
    --text-primary: 242 244 247;
  }

  * {
    @apply transition-colors duration-200;
  }

  body {
    @apply bg-surface-light dark:bg-surface text-surface-dark dark:text-surface-light;
  }
}

/* Add these utility classes */
@layer utilities {
  .theme-transition {
    @apply transition-all duration-200;
  }
}
